[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
greenlet = "*"
psycopg2-binary = "*"
detoxify = "*"
torch = "*"
redis = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.14"
