[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
greenlet = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.14"
